<div class="container">
  <div class="col-xs-12">
    <form {{action "login" on="submit"}}>
      {{input type="text" value=username}}
      {{input type="password" value=password}}
      <button type="submit">Login</button>
    </form>
  </div>
</div>